{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12">

        <h3>Leaderboard</h3> 

        <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Score</th>
              </tr>
            </thead>
            <tbody>
                {% for item in leads %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{item.name}}</td>
                        <td>{% if item.score_sum == None %} 0 {%else%}{{item.score_sum}}{% endif %}</td>
                    </tr>
                {% endfor %}
             
            </tbody>
        </table>

    </div>
</div>
    

{% endblock %}